* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v212_2 {
  width: 100%;
  height: 3355px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v245_1627 {
  width: 100%;
  height: 100%;
  background: url("../images/v245_1627.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2608px;
  left: 0px;
  overflow: hidden;
}
.v245_0 {
  width: 100%;
  height: 100%;
  background: url("../images/v245_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v212_245 {
  width: 730px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 250px;
  left: 165px;
  font-family: SF UI Display;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v212_246 {
  width: 635px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 350px;
  left: 260px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v212_247 {
  width: 635px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 450px;
  left: 260px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v212_248 {
  width: 635px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 550px;
  left: 260px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v212_269 {
  width: 160px;
  height: 50px;
  background: url("../images/v212_269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 355px;
  overflow: hidden;
}
.v212_270 {
  width: 160px;
  height: 50px;
  background: url("../images/v212_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v212_271 {
  width: 160px;
  height: 50px;
  background: rgba(127,0,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v212_272 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SF UI Display;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v215_1 {
  width: 50px;
  height: 50px;
  background: url("../images/v215_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 180px;
  overflow: hidden;
}
.v212_251 {
  width: 50px;
  height: 50px;
  background: rgba(255,204,144,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v245_1512 {
  width: 22px;
  height: 22px;
  background: url("../images/v245_1512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 14px;
  overflow: hidden;
}
.v215_2 {
  width: 50px;
  height: 50px;
  background: url("../images/v215_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 450px;
  left: 180px;
  overflow: hidden;
}
.v215_3 {
  width: 50px;
  height: 50px;
  background: rgba(255,204,144,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v245_1513 {
  width: 22px;
  height: 22px;
  background: url("../images/v245_1513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 14px;
  overflow: hidden;
}
.v215_5 {
  width: 50px;
  height: 50px;
  background: url("../images/v215_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 550px;
  left: 180px;
  overflow: hidden;
}
.v215_6 {
  width: 50px;
  height: 50px;
  background: rgba(255,204,144,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v245_1514 {
  width: 22px;
  height: 22px;
  background: url("../images/v245_1514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 14px;
  overflow: hidden;
}
.v218_157 {
  width: 540px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2148px;
  left: 165px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v218_80 {
  width: 540px;
  height: 360px;
  background: url("../images/v218_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1124px;
  left: 735px;
  overflow: hidden;
}
.v245_229 {
  width: 350px;
  height: 501px;
  background: url("../images/v245_229.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 925px;
  overflow: hidden;
}
.v245_1515 {
  width: 100%;
  height: 50px;
  background: url("../images/v245_1515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 850px;
  left: 165px;
  overflow: hidden;
}
.v215_51 {
  width: 730px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SF UI Display;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v245_298 {
  width: 160px;
  height: 50px;
  background: url("../images/v245_298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 950px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v245_279 {
  width: 160px;
  height: 50px;
  background: url("../images/v245_279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 760px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v245_1749 {
  width: 100%;
  height: 50px;
  background: url("../images/v245_1749.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2533px;
  left: 165px;
  overflow: hidden;
}
.v245_1750 {
  width: 730px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SF UI Display;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v245_1751 {
  width: 160px;
  height: 50px;
  background: url("../images/v245_1751.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 950px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v245_1752 {
  width: 160px;
  height: 50px;
  background: url("../images/v245_1752.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 760px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v245_307 {
  width: 540px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1124px;
  left: 165px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v215_55 {
  width: 540px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1199px;
  left: 165px;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v245_1625 {
  width: 350px;
  height: 360px;
  background: url("../images/v245_1625.png");
  opacity: 1;
  position: absolute;
  top: 2148px;
  left: 925px;
}
.v245_1738 {
  width: 540px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2223px;
  left: 165px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v245_1798 {
  width: 100%;
  height: 464px;
  background: url("../images/v245_1798.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1584px;
  left: 0px;
  overflow: hidden;
}
.v218_126 {
  width: 350px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1820px;
  left: 165px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v218_143 {
  width: 160px;
  height: 160px;
  background: linear-gradient(rgba(184,175,255,1), rgba(124,110,229,1));
  opacity: 1;
  position: absolute;
  top: 1634px;
  left: 260px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.250849187374115);
}
.v245_1780 {
  width: 107px;
  height: 107px;
  background: url("../images/v245_1780.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1661px;
  left: 287px;
  overflow: hidden;
}
.v218_127 {
  width: 350px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1820px;
  left: 545px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v218_131 {
  width: 160px;
  height: 160px;
  background: linear-gradient(rgba(184,175,255,1), rgba(124,110,229,1));
  opacity: 1;
  position: absolute;
  top: 1634px;
  left: 640px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.250849187374115);
}
.v218_128 {
  width: 350px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1820px;
  left: 925px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v218_137 {
  width: 160px;
  height: 160px;
  background: linear-gradient(rgba(184,175,255,1), rgba(124,110,229,1));
  opacity: 1;
  position: absolute;
  top: 1634px;
  left: 1020px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.250849187374115);
}
.v245_1779 {
  width: 145px;
  height: 145px;
  background: url("../images/v245_1779.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1645px;
  left: 1027px;
  overflow: hidden;
}
.v245_1793 {
  width: 132px;
  height: 88px;
  background: url("../images/v245_1793.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1674px;
  left: 654px;
  overflow: hidden;
}
.v218_500 {
  width: 255px;
  color: rgba(127,0,255,1);
  position: absolute;
  top: 2851px;
  left: 167px;
  font-family: SF UI Display;
  font-weight: Medium;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v222_144 {
  width: 540px;
  height: 50px;
  background: url("../images/v222_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2851px;
  left: 547px;
  overflow: hidden;
}
.v222_145 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 380px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v222_146 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 191px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v222_147 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v223_144 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3073px;
  left: 165px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v212_259 {
  width: 100%;
  height: 150px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v245_1626 {
  width: 100%;
  height: 50px;
  background: url("../images/v245_1626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 165px;
  overflow: hidden;
}
.v212_12 {
  width: 255px;
  color: rgba(127,0,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SF UI Display;
  font-weight: Medium;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v212_265 {
  width: 160px;
  height: 50px;
  background: url("../images/v212_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 950px;
  overflow: hidden;
}
.v212_249 {
  width: 160px;
  height: 50px;
  background: rgba(127,0,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v212_250 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 950px;
  font-family: SF UI Display;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v212_13 {
  width: 540px;
  height: 50px;
  background: url("../images/v212_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 382px;
  overflow: hidden;
}
.v212_18 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 380px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v212_267 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 191px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v212_268 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SF UI Display;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
