<button id="link-button">Link Account</button>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script type="text/javascript">
    (function($) {
        var handler = Plaid.create({
            clientName: 'ELI Money',
            env: 'sandbox',
            key: '0b9e2661ff4db31e1e18730c89ecbc',
            product: ['auth', 'transactions'],
            onLoad: function() {
                // Optional, called when Link loads
            },
            onSuccess: function(public_token, metadata) {
                // call integration/v1/token_exchange with client data, see example below
                $.post('/get_access_token', {
                    public_token: public_token,
                });
                document.getElementById("text").innerHTML = public_token
            },
        });

        $('#link-button').on('click', function(e) {
            handler.open();
        });
    })(jQuery);
    <div id="text"></text></div>
</script>